---
import Layout from "../layouts/Layout.astro";
export async function getStaticPaths() {
  const pages = [
    {
      id: "52959",
      title: "Baked salmon with fennel & tomatoes",
    },
    {
      id: "52819",
      title: "Cajun spiced fish tacos",
    },
    {
      id: "52944",
      title: "Escovitch Fish",
    },
    {
      id: "53043",
      title: "Fish fofos",
    },
    {
      id: "52802",
      title: "Fish pie",
    },
    {
      id: "52918",
      title: "Fish Stew with Rouille",
    },
    {
      id: "52764",
      title: "Garides Saganaki",
    },
    {
      id: "53041",
      title: "Grilled Portuguese sardines",
    },
    {
      id: "52773",
      title: "Honey Teriyaki Salmon",
    },
  ];
  return pages.map(({ id, title }) => {
    return {
      params: { id },
      props: { title },
    };
  });
}

const { title, text } = Astro.props;
---

<Layout title={title}>
  <main class="mx-auto p-6 max-w-4xl">
    <h1 class="m-0 font-semibold text-5xl text-gradient">{title}</h1>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
