---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Astro Restaurants.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro Restaurants</span></h1>
    <p class="instructions">The best Seafood restaurant in the world.</p>
    <ul role="list" class="link-card-grid">
      <Card id="52959" title="Baked salmon with fennel & tomatoes" />
      <Card id="52819" title="Cajun spiced fish tacos" />
      <Card id="52944" title="Escovitch Fish" />
      <Card id="53043" title="Fish fofos" />
      <Card id="52802" title="Fish pie" />
      <Card id="52918" title="Fish Stew with Rouille" />
      <Card id="52764" title="Garides Saganaki" />
      <Card id="53041" title="Grilled Portuguese sardines" />
      <Card id="52773" title="Honey Teriyaki Salmon" />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
